* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header nav ul {
    display: flex;
    justify-content: end;
 list-style: none;
gap: 50px;
padding: 20px;
}

#menu div div {
    margin: 10px auto;
    width: 300px;
    height: 200px;
}

#menu div div img {
    width: 100%;
    height: 100%;
}
h2 {
    text-align: center;
    margin: 20px 0;
}

p {
    text-align: center;
    margin: 20px 0;
}