body {
  width: 90%;
  text-align: center;
  margin: 0px auto;
  height: 100vh;
}

header {
  text-align: center;
  justify-content: center;
  background-color: #d2b48c;
  color: white;
}
#div1 {
  background-color: #808080;
  height: 60%;
}

.chef {
  width: 100%;
  height: 100%;
}

.bb {
  background-color: #afeeee;
  width: 98%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1%;
}

.g1 {

  background-color: #ffdab9;
}

.g2 {

  background-color: #7a9eb1;
}

.g3 {

  background-color: #415865;
}

.g4 {

  background-color: #ffdab9;
}

.g1,
.g2,
.g3,
.g4 {
  width: 49.6%;
  height: 49%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 2px solid white;

  div {
    width: 49.7%;
    height: 49.7%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    color: white;
  }
}

.pied {
    align-items: end;
    height: 10%;
}
.foot {
  width: 100%;
  height:5%;
  background-color: #c0c0c0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
