body {
  margin: 0px;
}
header #header {
  background-color: red;
  color: rgb(255, 255, 255);
  display: flex;
  height: 50px;
  justify-content: space-between;
}
span {
  margin: 50px;
}
#div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#div p {
  margin: 0 20px;
}
.flex {
  display: flex;
  justify-content: space-between;
      display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px;
    height: 370px;
  

}
#area1 {
  background-color: #249d9b;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1%;
}
.bouton {
  background-color: blue;
  color: white;
  border: none;
  padding: 1%;
}
.bouton:hover {
    color: blueviolet;
    transform: scale(1.5);
}
.inline {

}
#area2 {
    background-color: rgb(100, 100, 221);
            display: flex;
            flex-direction: column;
            justify-content: baseline;
            align-items: center; 
    }
#area3 {
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}
#area4 {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;

}
.carou {
     display: flex;
    flex-direction: column;
    padding: 50px;
}