body {
    width: 80%; /* Width = Largeur de l'élément, 80% par rapport à son parent */
    margin: 10px auto; /* Margin : marge exterieur de l'élément (il pousse ce qu'il y a autour] */
    font-family: cursive;
}

#contenu {
    background-color: rgb(194,26,26);
    border: 2px solid black;
}

header, footer { /* , = ET , le header ET le footer en même temps */
    height: 80px; /* height: la hauteur de l'élément (par défaut en auto) */
    background-color: blueviolet;
    
    color: white;
    text-align: center; /* Alignement du texte */
    padding-top: 6px; /* Padding : marges intérieures d'un élément (on pousse l'élément de l'intérieur) */
}

nav {
    height: 40px;
    background-color: #4a1a2c;
    color: #fff;
    padding-left: 20px;
    padding-top: 6px;
}

section {
    border: 20px solid #060605; 
    background-color: #e6e2af;
    height: 500px;
    text-align: center;
}